@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #000;
    --main-color: #f97316;
    --background-color: 255, 255, 255;
    --transition-time: 0.2s;
}
html {
    scroll-behavior: smooth;
    -webkit-tap-higlight-color: transparent;
}
a,
button {
    transition: var(--transition-time) ease-in !important;
}

body {
    background: rgb(var(--background-color));
}
